body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {text-align: center;}

.container {
    margin: 0 auto;
    width: 80%;

}


.border {border: 2px solid black;}


/* Start instellingen FlexBox */
section {
    background: coral;
    height: 500px;
    display: flex;

 /* ik wil even veel marge maar dit werkt alleen als er plaats is in je container */
    /* als je geen align itmes gebruik doet hij standaard stretch, align-self is eigenschap aanvaard dezelfde waarden als align-items maar wordt gebruikt om de waarde op individueel niveau te overschrijven. */

}

.grey-box{
    background: grey;
    width: 100%;

    margin: 10px;
    padding: 20px;
    font-size: 2em;
}
